<manifest package="org.frutilla.test"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <instrumentation
        android:name="org.frutilla.android.FrutillaTestRunner"
        android:targetPackage="org.frutilla"/>

    <instrumentation
        android:name="org.frutilla.android.FresaTestRunner"
        android:targetPackage="org.frutilla"/>


</manifest>
